* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #13294b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

main {
  max-width: 1200px;
  margin: 2rem auto;
}

p,
li,
a {
  font-family: "Source Sans 3", sans-serif;
  font-size: 18px;
}

p,
li {
  line-height: 2.1em;
}

section {
  margin-top: 1.8em;
}

hr {
  width: 80%;
  height: 2px;
  border-width: 0;
  color: #13294b;
  background-color: #13294b;
}

footer {
  border-top: 1px solid #ccc;
  margin-top: 3rem;
  padding-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
}
