body {
  font-family: Georgia, "Times New Roman", serif;
  background: #fff;
  color: #13294b;
}

main {
  max-width: 1200px;
  margin: 2rem auto;
}

p,
li {
  font-size: 18px;
  line-height: 2.1em;
}


ul {
  margin: 1rem 0 1rem 1.5rem;
}

footer {
  border-top: 1px solid #ccc;
  margin-top: 3rem;
  padding-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
}